%h1 Updates &amp; Support

%h2 Google Group
%p
  If you need support or want to make a feature request, head over to
  = nofollow_link_to("Queriac's Google Group", "http://groups.google.com/group/queriac") + "."

%h2 Blog
%p
  If you're looking to stay in the loop about what's going on with Queriac but don't want
  to be overwhelmed by the chatter, check out the tumblelog at
  = nofollow_link_to("queriac.tumblr.com", "http://queriac.tumblr.com") + "."
  
%h2 Bugs
%p
  Queri.ac is a one-man project at the moment so it's got its share of minor issues. 
  If you find something, please submit a ticket on
  = nofollow_link_to("github", "http://github.com/zeke/queriac/issues") + "."